:root {

    background-color: #c09dff;

}

.pfp {

    border-radius: 50%;

}

html, body, .page {

    height: 100%;
    overflow: hidden;

}

.page {

    display: flex;
    flex-direction: column;

}

.head {

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;

}

.header {

    font-style: italic;
    text-align: center;
    width: 100%;
    border-radius: 8px;
    border-style: solid;
    border-color: #7c60af;

}

.center {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.box {

    background-color: #c09dff;
    width: 650px;
    height: 450px;
    display: flex;

}

.left, .right {
    
    background-color: #c09dff;
    margin: 5px;
    max-width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
  
.left {

    align-items: center;
    justify-content: center;
    margin-right: 1rem;

}

h3 {

    text-align: center;

}

p {

    font-style: italic;

}

.foot {

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;

}

.footer {
    
    width: 100%;
    font-style: italic;
    text-align: center;
    border-radius: 8px;
    border-style: solid;
    border-color: #7c60af;

}